html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  width: 100vw;
  background-image: url('assets/background-img.webp');
  background-size: contain;
}

body {
  display: flex;
  justify-content: center;
  height: 500px;
}

main {
  width: 100%;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 2.6rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 2.6rem;
}

ul {
  flex-direction: colunn;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

img {
  height: 10vh;
  width: 10vh;
}

.flex {
  display: flex;
  justify-content: center;
}

.title {
  margin-top: -4%;
  margin-bottom: 10%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100vh;
  color: white;
}

.human, .computer {
  width: 15%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

section.main-section {
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.home-page {
  flex-direction: column;
  width: 40%;
  height: 50vh;
}

.rules {
  margin: 10% 0 10% 0;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  font-size: 1.9rem;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.classic-view, .difficult-view {
  width: 40vw;
  height: 40vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.difficult-view {
  width: 70vw;
}

.hidden {
  display: none;
}

.classic:hover, .difficult:hover, button:hover, img:hover {
  cursor: pointer;
}

.difficultView {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
